.App {
    background-position: fixed;
    background: url(https://wallpaperaccess.com/full/3097725.jpg) no-repeat center center fixed;
    min-height: 100vh;
    background-size: cover;
}

.App__mobile {
    background-image: url(../images/ABS_mobile_background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    /*background-position: fixed;
    background: url(https://wallpapercave.com/wp/wp6060071.jpg) repeat center center fixed;
    min-height: 100vh;
    background-size: contain;
    position: static;
    overflow-x: hidden;*/
}